/* COLOR NAME */
/* h1{
    color: tomato;
} */

/* HEX CODE */
/* h1{
    color: #a36598;
} */

/* RGB */
/* h1{
    color: rgb(184, 29, 24);
} */

/* BACKGROUNG COLOR */
/* body{
    background-color: #6c3d7a;
    color: wheat;
} */

/* div{
    background-color: wheat;
    color: rgb(121, 24, 121);
} */

/* OPACITY */
/* #div1{
    background-color: green;
    opacity: 0.5;
} */

/* img{
    opacity: 0.5;
} */

